:root {
  --clr-green: #065535;
  --clr-white: #fff;
}

body {
  margin: auto 0px;
  font-family: sans-serif;
  font-size: 18px;
}

.container {
  margin: 100px auto;
  width: 900px;
}
.container .carousel_card {
  position: relative;
  padding: 18px;
  gap: 40px;
  padding-left: 80px;
  background-color: var(--clr-green);
  border-radius: 20px;
  color: var(--clr-whites);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .carousel_card .testimonial, .container .carousel_card .author_job--title, .container .carousel_card .author {
  line-height: 1.5;
}
.container .carousel_card .btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .carousel_card .btn_icon {
  height: 24;
  width: 24;
  stroke: var(--clr-green);
}
.container .carousel_card .btn_left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .carousel_card .btn_right {
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

img {
  height: 300px;
  width: 300px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 18px;
  -webkit-box-shadow: 0, 12px, 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0, 12px, 24px rgba(0, 0, 0, 0.25);
}